workflows/04_Media_Generator.json
{
  "id": "wf04mediagenerator",
  "name": "04_Media_Generator",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough",
        "returnOutput": "lastRunOnly"
      },
      "id": "d1d6f87a-8d8e-4fb8-8dd2-7a12f9f39910",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        240
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "media-trigger",
        "responseMode": "onReceived",
        "responseCode": 202,
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        80,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body || item.params || item;\nlet prompt = body.prompt || body.media_prompt || body.text || 'Mẫu váy thời trang cao cấp trên người mẫu';\nconst chatId = body.chat_id || body.chatId || body.telegram_chat_id || body.senderId || body.admin_chat_id;\n\nconst ratioMatch = prompt.match(/(1:1|3:4|4:5|9:16|16:9|2:3|3:2)/);\nconst aspectRatio = ratioMatch ? ratioMatch[0] : '3:4';\n\nif (ratioMatch) {\n  prompt = prompt.replace(ratioMatch[0], '').replace(/\\s+/g, ' ').trim();\n}\n\nconst isFashion = /váy|đầm|áo|quần|giày|mẫu|thời trang|fashion|dress|skirt|shirt|pants|model|wear|suit/i.test(prompt);\nlet finalPrompt = prompt;\n\nif (isFashion) {\n  finalPrompt = `Create a professional e-commerce fashion photo.\nSubject: A realistic photo of a young, attractive Vietnamese model wearing: ${prompt}.\nPose & Expression: Standing in a natural, relaxed, and confident pose with a candid, pleasant expression.\nCamera & Technique: Captured with a 35mm DSLR lens, shallow depth of field with soft bokeh background, subtle natural film grain, sharp focus on the clothing details.\nLighting: Warm natural daylight, soft shadows, no harsh studio flashes, natural reflections.\nBackground: A modern, minimalist café or elegant street corner that complements the outfit naturally without being distracting.\nOutput: One single high-resolution fashion photograph. No text overlay, watermark, price tag, or graphic borders.`;\n}\n\nreturn [{\n  json: {\n    prompt: finalPrompt,\n    aspect_ratio: aspectRatio,\n    chat_id: chatId,\n    source: body.source || 'telegram'\n  }\n}];"
      },
      "id": "9b5f6ee5-27a8-4fbc-a922-8cf01e7eec23",
      "name": "Normalize Media Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        320
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🎨 *Đang tạo ảnh AI...*\n\n⏳ Bot đang xử lý yêu cầu của bạn, vui lòng chờ trong giây lát (khoảng 15-30 giây).\n\n📝 *Mô tả:* {{ $json.prompt.substring(0, 200) }}{{ $json.prompt.length > 200 ? '...' : '' }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f7a3b2c1-d4e5-6f7a-8b9c-0d1e2f3a4b5c",
      "name": "Send Processing Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        560,
        320
      ],
      "credentials": {
        "telegramApi": {
          "id": null,
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"{{ $node['Normalize Media Request'].json.prompt }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\"IMAGE\"],\n    \"responseFormat\": {\n      \"image\": {\n        \"aspectRatio\": \"{{ $node['Normalize Media Request'].json.aspect_ratio || '3:4' }}\",\n        \"imageSize\": \"1K\"\n      }\n    }\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "e4f5a6b7-c8d9-0e1f-2a3b-4c5d6e7f8a9b",
      "name": "Gemini: Sinh ảnh AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst request = $node['Normalize Media Request'].json;\n\nconst parts = response.candidates?.[0]?.content?.parts || [];\nconst imagePart = parts.find(p => p.inlineData?.data || p.inline_data?.data);\nconst inlineData = imagePart?.inlineData || imagePart?.inline_data;\n\nif (!inlineData?.data) {\n  throw new Error('Gemini không trả về ảnh. Parts: ' + JSON.stringify(parts.map(p => Object.keys(p))));\n}\n\nconst mimeType = inlineData.mimeType || inlineData.mime_type || 'image/jpeg';\nconst base64Data = inlineData.data;\nconst ext = mimeType.includes('png') ? 'png' : 'jpg';\n\nreturn [{\n  json: {\n    prompt: request.prompt,\n    chat_id: request.chat_id,\n    mime_type: mimeType\n  },\n  binary: {\n    image: {\n      data: base64Data,\n      mimeType,\n      fileName: `ai_image.${ext}`,\n      fileExtension: ext\n    }\n  }\n}];"
      },
      "id": "c8a4f912-7b1e-450a-8d6b-31a89cde9943",
      "name": "Base64 to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "image",
        "additionalFields": {
          "caption": "={{ '✅ *Ảnh AI hoàn thành!*\\n\\n🎨 ' + $json.prompt.substring(0, 200) }}",
          "parse_mode": "Markdown"
        }
      },
      "id": "e4f5a3b9-1d9c-482a-bc9e-71f649258284",
      "name": "Send Photo Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1280,
        320
      ],
      "credentials": {
        "telegramApi": {
          "id": null,
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Media Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Media Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Media Request": {
      "main": [
        [
          {
            "node": "Send Processing Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Processing Notification": {
      "main": [
        [
          {
            "node": "Gemini: Sinh ảnh AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Sinh ảnh AI": {
      "main": [
        [
          {
            "node": "Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 to Binary": {
      "main": [
        [
          {
            "node": "Send Photo Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
